@font-face{
     font-family: custom;
     src: url(fonty/DejaVuSans.ttf);
}
html{
    font-family: custom;
}
body{
    margin:0;
    background-color: #FAFAFA;
    position: relative;
}
.wrapper
{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #FAFAFA;
}

.header
{
    width: 100%;
    padding: 40px 0;
    background-color: #FAFAFA;
}

.nav{
    z-index: 101;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 40px;
    position: fixed;
            top: 0;
            left: 0;
}

.nav > div{
    margin: 0;
    padding: 0;
    float: left;
}

.ElWysuwany{
    position: relative;
    background-color: blueviolet;
    height: 100%;
    width: 15%;
}
.ElUkryty{
    position: fixed;
    top: 40px;
    z-index: 99;
    width: 100%;
    background-color: aliceblue;
}
.ElUkryty > ul >li{
    z-index: 1;
    width: 20%;
    float: left;
}
.Tytul{
    position: relative;
    width: 85%;
    text-align: center;
}

.Tytul > a{
    margin-left: -17%;
}

.obraz{
    background-color: #FAFAFA;
    margin: 30px auto;
    width: 80%;
    text-align: center;
}
.content{
    background-color: #FAFAFA;
    margin: 0 auto;
    width: 50%;
}
a{
    text-decoration: none;
    color: black;
}
.Para{
    width: 75%;
    border-top: 1px solid #dcdcdc;
}
