body{
    margin:0;
    background-color: #FAFAFA;
}
.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px 0;
    background-color: #FAFAFA;
}

.nav{
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 40px;
    position: sticky;
            top: 0;
            left: 0;
}
ol{
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
    font-size: 18px;
    display: inline-block;
}

ol > li
{
    padding: 0 10px;
    height: 100%;
    z-index: 200;
    float: left;
    padding: 0 5px;
}

ol > li:first-child
{
    /* potem cos dopisze*/
}
ol > li:hover
{
    border-bottom: 2px solid black;
}

ol > li > ul
{
   list-style-type:none ; 
   padding: 0;
   margin: 0;
   height: 40px;
   display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > div > li
{
    background-color: #FFFFFF;
    position: relative;
    left: 0;
    z-index: 100;
    text-align: center;
    width: 100%;
}
ol > li > ul > div
{
    background-color: #cf6969;
    border-top: 0.5px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    margin-top: 20px;
    left: 0;
    z-index: 100;
    text-align: center;
    width: 100%;
}
ol > li > ul > li:hover
{
    background-color: #eb5050;

}

.obraz{
    background-color: #FAFAFA;
    margin: 30px auto;
    width: 80%;
    text-align: center;
}
.content{
    background-color: #FAFAFA;
    margin: 0 auto;
 width: 80%;
}
