@font-face{
     font-family: custom;
     src: url(fonty/DejaVuSans.ttf);
     /* 
     #FF5E5b
     #D8D8D8
     #FFFFEA
     #00CECB
     #FFED66
     */
}
html{
    font-family: custom;
}
body{
    margin:0;
    background-color: #D8D8D8;
    position: relative;
}
.wrapper
{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #D8D8D8;
}

.header
{
    width: 50%;
    height: 110px;
    background-color: #00CECB;
}

.nav{
    z-index: 101;
    width: 100%;
    background-color: #FFED66;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 75px;
    position: fixed;
            top: 0;
            left: 0;
}

.nav > div{
    margin: 0;
    padding: 0;
    float: left;
}

.ElWysuwany{
    position: relative;
    width: 100%;
    margin-top:110px;
}
.ElUkryty{
    position: fixed;
    top: 111px;
    z-index: 99;
    width: 100%;
    background-color: aliceblue;
}
.ElUkryty > ul >li{
    text-align: center;
    z-index: 1;
    width: 20%;
    float: left;
}
.Tytul{
    width: 50%;
    height: 110px;
    padding: 40px 0;
    background-color: #00CECB;
    text-align: right;
}

.Tytul > a{
    margin-left: -17%;
}

.obraz{
    background-color: #FFFFEA;
    margin: 30px auto;
    margin-top:130px;
    width: 80%;
    text-align: center;
}
.content{
    background-color: #FFFFEA;
    margin: 0 auto;
    width: 50%;
}
a{
    text-decoration: none;
    color: black;
}
.Para{
    width: 75%;
    border-top: 1px solid #dcdcdc;
}
